{% extends 'TodoApp/base.html' %}

{% block content %}
<div class="content">
    <a href='{% url "add_task"%}' class="add_task">Добавить новую задачу</a>
</div>
{% for task in tasks %}
<div class="content">
    <div style="display: flex; flex-flow: row nowrap;">
        <div style='flex-grow: 3;'><h1 class="task_title">{{task.title}}</h1></div>
        <div style="flex-grow: 1;"><h5 class="task_time">Completed: {{task.time_update}}</h5></div>
    </div>
    <h3 class="task_content">{{task.content}}</h3>
    <br>
    <div class="task_buttns">
        <div style="flex-grow: 1;"><a onclick="task_delete({{task.pk}})" style="text-decoration: none;"><h3 class="task_delete">Delete</h3></a></div>
    </div>
</div>
{% endfor %}
{% endblock %}