{% extends 'TodoApp/base_log.html' %}

{% block content %}
<div class="content_log">
<form method="post">
    {% csrf_token %}
          <div style="color: #A52A2A;"><h2>{{ form.non_field_errors }}</h2></div>

    {% for f in form %}
              <h1>{{ f }}</h1>
              <h2 class="form_errors">{{ f.errors }}</h2>
    {% endfor %}
    <button type="submit" class="subbut">Регистрация</button>
  <div class="log_info"><h3>У вас уже есть аккаунт?  </h3> <a href="{% url 'login'%}"><h3 style="color: #4827EC; margin-left: 5px;">Логин</h3></a></div>
</form>
</div>
{% endblock %}